html, body {
    margin: 0;
}

#imagem_fundo {
    background: url("../img/fundo_tech2.jpg");
    background-size: cover;
    height: 100%;
    text-align: center;
    background-position: bottom;

}

#titulo {
    color: white;
    padding-top: 20%;
    font-size: 70px;
    line-height: 0.8;
    
}
#subtitulo {
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    border-top: 3px solid white;
    text-shadow: 1px 1px  black;
}
#acao {
    color: white;
    border: 2px white solid;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
}

#intro{
    background: rgba(121, 75, 248, 0.733);
    color: ivory;
}

#dev{
    color: rgba(121, 75, 248, 0.733);

}

#ods{
    background: rgba(121, 75, 248, 0.733);
    color:ivory;
}

#refs{
    color:rgba(121, 75, 248, 0.733);
}



.icone{
    width: 70px;
}

.coluna{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 50%;
}

section{
    padding: 20px;
    float:left;
}